.modal{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.closeModal{
  font-size: 50px;
  color: var(--color-w);

  position: absolute;
  right: 100px;
  top: 50px;
}

.modal__list{
  font-size: 25px;
  font-weight: 600;
  color: var(--color-w);
  margin-bottom: 20px;
  transition: all .5s ease;
}

.modal__list:hover{
  color: var(--color-g9);
}

@media (max-width:360px) {
    .closeModal{
      font-size: 30px;
      right: 20px;
      top: 20px;
    }
 }


@media (max-width:460px) {
  .closeModal{
    font-size: 30px;
    right: 20px;
    top: 20px;
  }
}