.navbar{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-image: var(--color-gr);

   transition:  all .5s ease;
}

.activeNav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navbar__title{
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: var(--color-w);
}

.navbar__bar{
  font-size: 50px;
  color: var(--color-w);
  cursor: pointer;
}


@media (max-width:280px) {
   .navbar{
    padding: 0 10px;
   }
}

@media (max-width:360px) {
 .navbar{
   padding: 0 20px;
 }

 .navbar__title{
  font-size: 20px;
 }

 .navbar__bar{
  font-size: 30px;
 }
}

@media (max-width:460px) {
   .navbar{
      padding: 0 30px;
   }
}

