.footer{
  width: 100%;
  padding: 50px 0;
  margin-top: 100px;
}

.footer__copy{
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: var(--color-bb);
}

.footer__links{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  gap: 50px;
  border-bottom: 0.3px solid var(--color-a4);
}

.footer__link{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-31);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer__icon{
  font-size: 20px;
  color: var(--color-bb);
}

.footer__link:hover{
  background: var(--color-bb);
}
.footer__link:hover .footer__icon{
  color: var(--color-2c);
}

@media (max-width:360px) {
  .footer__links{
    gap: 20px;
  }

  .footer__link{
    width: 40px;
    height: 40px;
  }

  .footer__icon{
    font-size: 15px;
  }

  .footer__copy{
    font-size: 14px;
  }
}

@media (max-width:460px) {
  .footer__links{
    gap: 20px;
  }

  .footer__link{
    width: 40px;
    height: 40px;
  }

  .footer__icon{
    font-size: 15px;
  }

  .footer__copy{
    font-size: 14px;
  }
}